<style type="text/css">
	.product-options-wrapper {
		display:none;
	}

	.product-social-links {
		display:none;
	}
</style>

<?php
	/*
		1 - Print on Demand / No personalisation
		2 - Personalise button
		3 - Straight to iframe
		4 - Enquiry only
		5 - No preview
		6 - Delayed preview
	*/

	$currentProduct = $block->getCurrentProduct();
	$layout = $currentProduct->getData('g3d_product_layout');

	//personalise button
	if ($layout==2) {
?>
		<script type="text/javascript">
			var button = '<div class="personalise action primary" onclick="personalise(); return false;">Personalise</div>';
			var div = document.getElementsByClassName('product-add-form');
			div[0].innerHTML += button;
		</script>


		<style type="text/css">
			.product-info-main .product-reviews-summary {
				display: none;
			}

			.product-info-main .product-info-stock-sku {
				display: none;
			}
		</style>
<?php
	}

	//straight to iframe
	if ($layout==3) {
?>
		<style type="text/css">
			.g3d-app,
			.page-layout-1column .product.media {
				width:100%;
			}

			.page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media {
				width:100%;
			}

			.gallery-placeholder {
				display:none;
			}

			.product-info-main,
			.page-layout-1column .product-info-main {
				width: 100%;
			}

			.product-info-main .page-title-wrapper {
				width:70%;
				float:left;
			}

			.product-info-main .product-reviews-summary {
				display:none;
			}

			.product-info-main .box-tocart, .product-options-bottom .box-tocart {
				display:none;
			}

			.product-info-stock-sku {
				display:none;
			}

			.product-info-main .price-box.price-final_price {
				float: right;
    			margin-right: 20px;
			}

			.product-info-main .product-info-stock-sku {
				display: none;
			}

			.product-info-main .product-info-price {
				width: 30%;
				border-bottom: none;
			}
		</style>
<?php
	}

	//enquiry only
	if ($layout==4) {
?>
		<script type="text/javascript">
			var button = '<div class="personalise action primary" onclick="personalise(); return false;">Create Virtual Sample</div>';
			var div = document.getElementsByClassName('product-add-form');
			div[0].innerHTML += button;
		</script>
<?php
	}


	//personalise button / enquiry only
	if (($layout==2) || ($layout==4)) {
?>
		<script type="text/javascript">
			function personalise() {
				document.getElementsByClassName('product-info-main')[0].style.display = "none";
				document.getElementsByClassName('g3d-app')[0].style.display = "block";
				document.getElementsByClassName('gallery-placeholder')[0].style.display = "none";
				document.getElementById('g3d-app-iframe').src = document.getElementById('g3d-app-url').innerHTML.replace(/&amp;/g, '&');
				var e;

				e  = document.querySelectorAll('.page-layout-1column .product.media');
				if (e.length>0) {
					e[0].style.width = "100%";
				}

				e  = document.querySelectorAll('.page-layout-2columns-left .product.media');
				if (e.length>0) {
					e[0].style.width = "100%";
				}

				e  = document.querySelectorAll('.page-layout-2columns-right .product.media');
				if (e.length>0) {
					e[0].style.width = "100%";
				}

				e  = document.querySelectorAll('.page-layout-3columns .product.media');
				if (e.length>0) {
					e[0].style.width = "100%";
				}
			}
		</script>

		<style type="text/css">
			.g3d-app {
				width:100%;
				display:none;
			}

			.personalise {
				margin-bottom:10px;
			}

			.box-tocart {
				display:none !important;
			}

			#product-options-wrapper {
                display:none;
			}
		</style>
<?php
	}

 	//no preview
 	if ($layout==5) {
?>
		<script type="text/javascript">
			if (document.getElementById("g3d-app-iframe")) {
				var originalIframe = document.getElementById("g3d-app-iframe");
				var iframeSrc = document.getElementById("g3d-app-iframe").src;
				var newIframe = document.createElement('iframe');
				newIframe.setAttribute('id', 'g3d-no-preview');
				newIframe.setAttribute('src',iframeSrc);
				var el = document.getElementsByClassName('product-add-form')[0];
				el.parentNode.insertBefore(newIframe, el);
				originalIframe.outerHTML = "";
			}
		</script>

		<style type="text/css">
			.box-tocart {
				display:none !important;
			}

			#g3d-no-preview {
				height: 840px;
				width: 100%;
				border-style: none;
			}
		</style>
<?php
	}

	//delayed preview - NOT SUPPORTED BY PERSONALISEIT2
	if ($layout==6) {
?>

<?php
	}
?>
